@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.container {
  max-width: 1180px;
  margin: 150px auto;
}

.upload-box {
  width: 400px;
  margin: 0 auto 40px;
}

.upload-box h1 {
  margin-bottom: 25px;

  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.invoices-wrapper > header {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.invoices-wrapper > header:after {
  display: table;
  clear: both;
  content: '';
}

.invoices-wrapper .heading,
.invoices-wrapper .buttons {
  float: left;
}

.invoices-wrapper .buttons button {
  margin: 0 5px;
}

.invoices-wrapper h3 {
  margin-right: 30px;
  font-weight: 600;
  line-height: 40px;
}

.invoices {
  margin-top: 30px;
  font-size: 14px;
}

.invoices main {
  display: none;
}

.invoices main.visible {
  display: block;
}

.invoices .shadow {
  margin-bottom: 10px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
}

.invoice-details {
  border-collapse: separate;
  border-spacing: 2px;
  width: 300px;
}

.invoice-details th,
.invoice-details td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 2px 6px;
}

.invoice-details th {
  width: 40%
}

.products-table {
  font-size: 14px;
}

.products-table table {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}

.products-table th {
  font-weight: bold;
  text-align: center;
  background-color: #ddd;
  padding: 4px;
}

.products-table td {
  border: 1px solid #ddd;
  padding: 4px;
}
.products-table td:nth-child(1) {
  width: 18%;
}
.products-table td:nth-child(2) {
  width: 52%;
}
.products-table td:nth-child(3) {
  width: 10%;
  text-align: right;
}
.products-table td:nth-child(4) {
  width: 10%;
  text-align: right;
}
.products-table td:nth-child(5) {
  width: 10%;
  text-align: right;
}

.alert {
  margin: 15px 0;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

